.form-input-container {
    height: 35vh;
    display: grid;
    overflow-y: scroll;
    padding: 10%;
}

input#profile-photo-inpt {
    height: 50px;
}

select#org-type {
    height: 40px;
    border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 50px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1976d2; 
  }

  a.register-btn {
    margin-top: 5px;
  }

  a.back-btn-login {
    display: block;
    transform: translate(450%, 450%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #313030;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
    opacity: 90%;
}
form{
    transform: translateY(-71%);
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    color: #1976d2;
    box-shadow: 0 25px 15px 0 rgb(0 0 0 / 45%);
    opacity: 90%;
    transform: translateY(22%);
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    -o-transition: width 0.3s ease-out;
}

svg:not(:root).svg-inline--fa:hover {
    height: 70px;
    transform: translateY(0%);
    width: 70px;
}